/* Header/Logo Title */
.header {
  padding: 0px;
  text-align: center;
  background: #0099b4;
  width: 100%;
  background-image:url("slmath.jpeg");
  color: white;
  font-size: 35px;
}

aside {
  float: left;
  padding: 10;
}

.image-left {
    float: left;
    margin-right: 10px;
}