/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: center;
  width:100%;
  background: #0099b4;
  color: white;
  font-size: 40px;
}

aside {
  float: left;
  padding: 10;
}

.image-left {
    float: left;
    margin-right: 10px;
}