/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #0099b4;
  color: white;
  font-size: 40px;
}

aside {
  float: left;
}


.image-left {
    float: left;
    margin-right: 0px;
}